.container{
  position: relative;
  display: flex;
  align-items: center; 
  justify-content: center;
  height: 60vh;
}

.menu {
  position: absolute;
  left: 0;
  top: center;
  z-index: 1;
}

.center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-menu{
  background-color: #FFDE59;
  display: flex;
  flex-direction: column;
  width: 4.5rem;
  margin-left: 8vw;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-top: 15px;
  align-items: center;
  border-radius: 10px;
  margin-right: 4vw;
}

.icon{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}

.icon a img{
  border-radius: 50%;
  
}

.icon a p{
  margin: 3px;
  font-family: Arial, Helvetica, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 600;
  
}

.icon a {
  text-decoration: none; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3vh;
  color: black;
}
