<div class="back-menu">
    <div class="icon">
        <img src="assets/images/1.png" > 
        <p>Entrar</p>
    </div>
        
    <div class="icon">
        <img src="assets/images/2.png" >
        <p>Sair</p>
    </div>

    <div class="icon">
        <img src="assets/images/3.png" >
        <p>Finança</p>
    </div>

    <div class="icon">
        <img src="assets/images/4.png" >
        <p>Cadastro</p>
    </div>

    <div class="icon">
        <img src="assets/images/5.png" >
        <p>Logout</p>
    </div>
</div>
